<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%level) %logger{3} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Дебаг-логи бизнес-логики приложения -->
    <logger name="com.example.bankcards" level="DEBUG"/>

    <!-- Подавлят шум от Hibernate SQL (включается через application.yml при необходимости) -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>